<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @magic_item.name %>
</p>

<p>
  <strong>TP Needed:</strong>
  <%= @magic_item.tp %>
</p>



<%= link_to 'Edit', edit_magic_item_path(@magic_item) %> |

